{% extends 'bases/home.html' %}

{% block title %}Home{% endblock %}

{% block screenHead %}
<style>
    .screenAdj {
        overflow: hidden;
    }

    .screenContainer::-webkit-scrollbar {
        display: none;
    }

    .screenContainer {
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #f4f4f4;
        min-height: 95vh;
        overflow-y: scroll;
    }

    .posts {
        display: grid;
        overflow-y: scroll;
        width: 100%;
        max-height: 100%;
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none;
        justify-items: center;
        align-content: stretch;
        grid-gap: 45px;
    }


    .posts::-webkit-scrollbar {
        display: none;
    }

    .post {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        color: #333;

    }



    .postHeader {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #777;
        margin-bottom: 15px;
    }

    .UserText {
        color: #2b4f7e;
        font-weight: bold;
    }

    .postTitle {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
        color: #333;
    }

    .postContent {
        font-size: 16px;
        line-height: 1.6;
        color: #555;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .dividerDiv {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #e0e0e0;
    }

    .postFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: #999;
        margin-top: 15px;
    }

    .postFooter .tags {
        font-size: 12px;
        color: #777;
    }

    .postFooter .comments {
        font-size: 12px;
        color: #777;
    }



    @media (max-width: 650px) {
        .posts {
            align-content: center;
        }

        .post {
            width: 90%;
            padding: 15px;
        }

        .postHeader {
            font-size: 12px;
        }

        .postTitle {
            font-size: 18px;
        }

        .postContent {
            font-size: 14px;
        }
    }

    @media (max-width: 920px) {
        .posts {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
            width: 100%;
            max-height: calc(95vh - 80px);
            box-sizing: border-box;
            padding-bottom: 10px;
        }

        .post {
            max-width: 400px;
            flex-shrink: 0;
            width: 100%;
            margin: 0 auto;
        }

        @media (min-width: 600px) {
            .posts {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                width: 100%;
                max-height: 100vh;
                box-sizing: border-box;
                padding-bottom: 10px;
            }

        }
    }

    .addPost {

        display: none;
    }

    .screenContainer {
        height: 95vh;
        padding: 30px;

    }


    @media (min-width: 920px) {
        .posts {
            justify-items: start;
            height: 96vh;
        }

        .screenContainer {
            padding: 30px;
        }

        .addPost {
            border-radius: 12px;
            position: sticky;
            height: calc(100vh - 200px);
            width: 700px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .addPostI {
            display: grid;
            justify-content: space-around;
        }

        .addPostInput {
            padding: 10px;
        }

        .addPostI {
            display: grid;
            gap: 10px;
            width: 100%;
            justify-content: center;
            justify-items: center;
        }

        .addPostInput,
        .textareaA {
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 320px;
            border: black 1px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 4px;
            height: 20px;
        }

        .textareaA {
            height: 260px;
            resize: none;

        }

        .buttonA {
            border: none;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
            height: 40px;
            width: 100%;
        }

        .buttonA:hover {
            background-color: black;
        }



    }
</style>
{% endblock %}

{% block screen %}

<div class="screenContainer">

    <div class="posts">


        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>

        <div class="post">
            <div class="postHeader">
                <span class="UserText">User</span>
                <span>November 1, 14:34</span>
            </div>
            <div class="postTitle">
                Title
            </div>
            <div class="dividerDiv">
                <div class="divider"></div>
            </div>
            <div class="postContent">
                This is the content of the post.
            </div>
        </div>



    </div>
    <div class="addPost">
        <div class="addPostI">
            <input type="text" class="addPostInput" placeholder="Enter your post title">
            <textarea class="textareaA" placeholder="Enter your post content"></textarea>
            <button class="buttonA">Post</button>
        </div>
    </div>
</div>

{% endblock %}